// Place all the styles related to the gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 40px;
}
table,
td, tr {
	padding-right: 10px;
	padding-left: 10px;

}

#index {
	background-image: url(image_path('kettlebells.jpg'));
 	background-position: top;
 	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
#show {
	background-image: url(image_path('handstand.jpg'));
	background-position: bottom;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
.navbar-default {
  background-color: #2b333b;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ebebeb;
}