// Place all the styles related to the gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 40px;
	background-color: #2b333b;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td, th {
	padding: 6px;
}

.container {
	margin: auto;
	max-width: 1000px;
}
.headline {
  padding: 20px 5%;
}

.kettlebell-background {
	background-image: url(image_path('kettlebells2.jpg'));
 	background-position: center top;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
 	background-size: cover;
 	z-index: -2;
 	position: fixed;
  height: 100%;
  width: 100%;
 
}
.handstand-background {
	background-image: url(image_path('handstand.jpg'));
	background-position: center bottom;
 	background-repeat: no-repeat;
 	background-attachment: scroll;
 	background-size: cover;
 	z-index: -2;
 	position: fixed;
  height: 100%;
  width: 100%;
	
}
.navbar-default {
  background-color: #2b333b;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ebebeb;
}
.well {
	background-color: rgba(43,51,59,.5);
}
#infinite-scrolling {
	padding: 0px;
}
.well {
	padding: 4px;
}

// @media 
// only screen and (max-width: 500px),
// (min-device-width: 500px) and (max-device-width 1024px) {
// 	table, thead, tbody, th, td, tr {
// 		display: inline-block;
// 	}
// 	td {
// 		border: none;
// 		position: relative;
	
// 	}
// 	td:before {
// 		position: absolute;
// 		top: 5px;
// 		left: 5px;
// 		width: 45%;
// 		padding-right: 10px;
// 		white-space: nowrap;
// 	}
// }